.texttypper {
	
	animation-name : typpe;
	animation-duration : 2s;
	
	font-size : 55px;
	font-family : Gadugi;
	font-weight : bold;
	color: #00ff00;
	margin-top : 250px;
	
}

@keyframes typpe{
	
	0% {
		
		margin-top : 500px;
		
	}
	
	
}
.bugline {
	
	animation-name : bugline;
	animation-duration : 1s;
	animation-iteration-count : infinite;
	
	font-size : 55px;
	font-family : Gadugi;
	font-weight : bold;
	color: #00ff00;
	margin-top : 20px;
	display : block;
	
}

@keyframes bugline {
	
	50% {
		
		color : #000000;
		background : #00ff00;
		
	}
	
}